.card.scFunction {
    border-color: transparent;
    border: 0px;
    border-radius: 0px;
}

.scFunction .card-header {
    background-color: rgb(41, 45, 62);
    color: #fff;
}

.scFunction .card-body {
    background-color: rgb(31, 34, 46);
    color: #fff;
}

.scFunctionHR {
    border-color: #fff;
}
