$body-bg: rgb(25, 28, 39);
$body-color: #fff;

$theme-colors: (
  "primary": #3f81f3,
  "secondary": #39456b
);

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
